[2018-10-12 21:11] cmeeren opened #1 "Documentation rendering issue"
The example on this page does not render properly: https://demystifyfp.gitbook.io/fstoolkit-errorhandling/asyncresult/map2

![image](https://user-images.githubusercontent.com/7766733/46894237-1ba31180-ce74-11e8-9aab-1550c120a35b.png)

[2018-10-12 21:54] cmeeren opened #3 "Make FsToolkit.ErrorHandling a superset of Cvdm.ErrorHandling?"
This library looks great! Good documentation and more comprehensive than Cvdm.ErrorHandling with regards to operators and choice of CEs (`asyncResultOption`).

Currently Cvdm.ErrorHandling has certain important features I don't immediately see in FsToolkit.ErrorHandling (having read the docs, not tested or browsed the code to any significant degree). I think I'd like for FsToolkit.ErrorHandling to

[2018-10-13 14:28] #1 closed

[2018-10-13 16:00] cmeeren commented on #3
Glad to hear you're positive!

I think perhaps we misunderstand each other here, because I did not see anything in that blog post that was relevant to my point. I am talking about the functions defined in [Helpers.fs](https://github.com/cmeeren/Cvdm.ErrorHandling/blob/master/src/Cvdm.ErrorHandling/Helpers.fs). They assist in various stuff such as inline validation by converting simple values to `R

[2018-10-16 16:13] demystifyfp commented on #3
Sorry, @cmeeren for the delayed response. I was held up with some official & personal work.

I went through the `Helpers.fs`. It makes sense, and I will add them in the next releases.

Regarding, `AutoOpen`, can we wait for some time & a few more feedback before making a call?

I will create issues in GitHub for all missing features, whenever I start working on them (most likely coming weekend or

[2018-10-17 07:10] cmeeren commented on #3
Great!

Absolutely.

Noted. I'll watch this repo to stay updated.

As a final note, please do run the Cvdm.ErrorHandling unit tests against FsToolkit.ErrorHandling to see if there are any differences in behavior, particularly regarding the CE members. I'm no expert in CEs and have had some surprises along the way, so I basically wrote as complete a set of unit tests I could think of both to verify

[2018-11-09 19:12] cmeeren commented on #3
Just want to let you know that there was a lot more to CEs than I had expected, and some of my original decisions turned out incorrect. I've released v2.0.0 of Cvdm.ErrorHandling now, with rewritten CEs and added tests. I have also added overloads accepting `Task<_>` and `Task` expressions to make interop easier.

[2018-11-10 17:19] demystifyfp commented on #3
Thanks for the information.

I am held up with my office and personal commitments. Will incorporate your
changes when I start working on this.

On Sat, 10 Nov 2018, 00:42 Christer van der Meeren <notifications@github.com
wrote:

[2018-12-30 16:50] AlbertoDePena commented on #3
Not sure the status of this issue but I also find that some things should be included. I have a gist that I always include in my FSharp projects (https://gist.github.com/AlbertoDePena/c91111a675d9c513cd09857efbd29aa7). Would it be possible to include some of these functions? Most, if not all, of it was a direct port from a talk I saw by Scot Wlaschin.

[2018-12-30 21:49] cmeeren commented on #3
@AlbertoDePena I haven't looked too closely at them, but many of them are already part of Cvdm.ErrorHandling under different (more semantic, less railway-analogous) names. See https://github.com/cmeeren/Cvdm.ErrorHandling/blob/master/src/Cvdm.ErrorHandling/Helpers.fs.

[2018-12-30 21:51] cmeeren commented on #3
@demystifyfp By the way, regarding the (identical) `requireEqualTo` and `requireEqual` functions, I've thought that it would probably be better to just unify them under the name `requireEquals`, which works both with partial application (pipelining) and normal function call.

[2018-12-31 07:04] demystifyfp commented on #3
Hi @AlbertoDePena Thanks for your comment. Currently, I am held up and I am planning to act on this in the last week of Jan. Will consider your gist while unifying both the libraries.

@cmeeren Sure.

[2019-01-07 01:40] AlbertoDePena commented on #3
@demystifyfp just a thought...
Would it make sense to include the map, bind, return and apply functions for Option, Async, Result, List? I realize most if not all of these are natively provided by FSharp.Core but I am saying only those that are missing...

BTW, this library is pure gold! Fantastic job...

[2019-01-07 06:52] cmeeren commented on #3
My two cents: If they are included in FSharp.Core, there is no reason to include them here. And even those that are not included should only be included here if they relate to error handling in some way, to keep the library focused.

[2019-01-08 17:43] demystifyfp commented on #3
Hi @AlbertoDePena,

Thanks for the compliment. All credits to the wonderful F# community!

I second @cmeeren here. The objective of this library is making error handling in F# easier. If you feel certain functions need to be added here, feel free to create an open a Work In Progress PR or an issue with your thoughts.

[2019-01-21 09:10] cmeeren commented on #3
Great!

I strongly recommend taking `withError`, too. As the function's documentation states, it's a safer alternative to `setError` since it requires the error case to be `unit`, so you're not losing any information. `setError` replaces whatever error information was there.

I use `withError` all the time in functions that return `Result<'a,unit>` (i.e., that currently only has one general error

[2019-01-21 13:55] demystifyfp commented on #3
Thanks @cmeeren

I like this rationale. As I never faced this in my F# projects, I couldn't see the difference.

Will add it in the next update.

[2019-01-27 14:51] demystifyfp commented on #3
Hi @cmeeren, All the helper functions from Cvdm.ErrorHandling is now part of FsToolkit.ErrorHandling version `0.0.14`.

Will be working on CE next!

[2019-02-05 12:52] cmeeren commented on #3
It seems I was mistaken regarding dropping `requireEqualTo`. I was just thinking of the name, and that `requireEquals` fits just as well using both normal and partial application (piping). But of course it's not just the name that's different, it's the argument order too. I had entirely forgotten that when I recommended dropping it.

I suggest including `requireEqualTo`, because the argument order

[2019-02-07 13:32] demystifyfp commented on #3
How about adding  `requireEqualTo` & `requireEqual` in the next release and mark `requireEquals` as deprecated in favor of ``requireEqual` ?

[2019-02-07 13:43] cmeeren commented on #3
Sounds good, thanks 👍

[2019-02-11 18:52] AlbertoDePena opened #7 "AsyncResult.ofTask does not work when using Task (not Task<T>)"

[2019-02-11 21:17] cmeeren commented on #7
The `asyncResult` CE from Cvdm.ErrorHandling that [will be merged soon](https://github.com/demystifyfp/FsToolkit.ErrorHandling/issues/3#issuecomment-457924211) contains `Task` and `Task<_>` overloads for `Bind`, so I think `ofTask` will be superfluous then.

[2019-02-13 14:45] AlbertoDePena opened #8 "Duplicate code?"
I see that we have the operators in AsyncResultOp.fs file and also at the bottom of the AsyncResult.fs file... Is there a reason for that?

[2019-02-18 18:21] demystifyfp commented on #7
Thanks, @cmeeren for jumping in. Last two months were just crazy, will get it done at the earliest I can.

[2019-02-18 18:25] demystifyfp commented on #8
Thanks, @AlbertoDePena for spotting this.
In the initial codebase, I had it in the `AsyncResult.fs` file and later refactored it to a separate namespace. While doing forget to remove this!

It will be removed in the `1.0.0` version.

[2019-02-21 22:27] AlbertoDePena opened #9 "Validation (Result.tryCreate)"
Would it be possible to have a statically resolved parameter for a function instead of a type with a member?

Lets say I wanted to have utility function to try create something...

Instead of:
[code]
something like this:
[code]
That way my validation would be something like this:
[code]
This would be another way of creating private type with value / tryCreate without defining those functions a mem

[2019-02-22 07:29] cmeeren commented on #9
It's not possible to have SRTP with module functions. But I don't see why you would need that, because there's no SRTP involved in the current definition of the operators (they simply alias `Result.bind` etc.). So AFAIK your example should work correctly already (apart from the fact that you're calling the `tryCreate` functions with two parameters, but your definition of them only accepts one para

[2019-02-22 14:42] AlbertoDePena commented on #9
@cmeeren I see your point, after looking into it a bit more, I noticed that I am not bound to using `member TryCreate` There are other ways to accomplish the same thing =)

Thanks for quick response =)

[2019-02-22 14:52] #9 closed

[2019-02-22 14:54] AlbertoDePena opened #10 "List (traverse / sequence) applicative or monadic"
I notice those are implemented using recursion. According to Scot Wlaschin, its more efficient (tail-recursion) to implement those functions using fold.

See https://fsharpforfunandprofit.com/posts/elevated-world-4/#implementing-traverse-using-fold

[2019-02-24 08:34] demystifyfp commented on #10
My initial implementation was using `foldBack` as mentioned in the blog post.  But I hit some roadblock in that implementation, and I am not able to recollect what it was.

From that blog post,

![image](https://user-images.githubusercontent.com/30935826/53297007-e43e6b80-383c-11e9-841e-bacd9a875895.png)

The implementations here are all tail-recursive and hence it won't fail in the large lists.

[2019-02-24 08:41] demystifyfp commented on #9
Thanks, @cmeeren for jumping in.

@AlbertoDePena, The rationale behind the current implementation is based on this example https://demystifyfp.gitbook.io/fstoolkit-errorhandling/index/trycreate#example-1 in the documentation.

The overall idea was inspired by [clojure.spec](https://clojure.org/guides/spec) where each attribute type will have its own validation logic in the form a static member `Tr

[2019-02-24 15:32] AlbertoDePena commented on #10
Awesome! Thanks for the clarification :)

[2019-02-24 15:32] #10 closed

[2019-04-06 08:57] cmeeren opened #13 "Add requireEqualTo and requireEqual and deprecate requireEquals in favor of requireEqual"
Creating a separate issue for this so it doesn't get lost. Previously mentioned in https://github.com/demystifyfp/FsToolkit.ErrorHandling/issues/3#issuecomment-461419881

[2019-04-06 09:03] cmeeren opened #14 "Simplify namespace structure"
While testing in https://github.com/demystifyfp/FsToolkit.ErrorHandling/pull/12#issuecomment-480487306, I noticed that I had to open separate namespaces to get the `result` and `asyncResult` instances, and yet another one (the main `FsToolkit.ErrorHandling`) to get the helpers (`Result.xxx` etc.).

I suggest that we make `result` and `asyncResult` available in the main namespace (perhaps other CEs

[2019-04-07 11:19] AntyaDev opened #15 "use [<Struct>] for computation builders"
Does it make sense to use [< struct >] for computation expression builders?

[code]

[2019-04-07 12:07] cmeeren commented on #15
AFAIK no, because there's only ever one instance used (normally). It's that instance you're referring to when you write e.g. `result { }`. So there's never any allocation of the builder when the CE is used.

[2019-04-09 04:56] demystifyfp commented on #15
I agree with @cmeeren. The `Struct` attribute meant for value types (record types that model data). Here the `AsyncResultBuilder` is a type that model behaviour.

[2019-04-09 04:57] demystifyfp commented on #14
I agree. Will incorporate it in the new release.

[2019-04-09 04:57] demystifyfp commented on #13
Thanks, @cmeeren for doing this.

[2019-04-10 10:18] demystifyfp commented on #14
Fixed in 1.0.0

[2019-04-10 10:18] #14 closed

[2019-04-10 10:18] demystifyfp commented on #13
Fixed in 1.0.0. The `requireEquals` has been removed instead of marking it as deprecated.

[2019-04-10 10:18] #13 closed

[2019-04-10 10:19] demystifyfp commented on #8
Fixed in 1.0.0

[2019-04-10 10:19] #8 closed

[2019-04-10 10:19] demystifyfp commented on #7
Fixed in 1.0.0. The new function `AsyncResult.ofTaskAction` will take care of this.

[2019-04-10 10:19] #7 closed

[2019-04-10 10:22] demystifyfp commented on #3
@cmeeren @TheAngryByrd Thanks for your work on making it possible. All your code changes are pushed as part of the new release (first major release) https://www.nuget.org/packages/FsToolkit.ErrorHandling/1.0.0
Can you folks do high-level testing to make sure that we haven't missed anything obvious? Thanks in advance.

[2019-04-10 17:12] cmeeren commented on #3
All Cvdm.ErrorHandling tests pass using FsToolkit.ErrorHandling 1.0.0. 👍

I recommend copying the extensive tests from Cvdm.ErrorHandling too, to prevent regressions in case the CE code is ever modified.

[2019-04-11 05:08] demystifyfp commented on #15
@AntyaDev Can I close this one?

[2019-04-11 05:09] demystifyfp opened #16 "Add missing Tests from Cvdm.ErrorHandling"

[2019-04-11 05:09] demystifyfp commented on #3
Thanks, @cmeeren. Let me capture it as a separate issue(#16) and close this one.

[2019-04-11 05:10] #3 closed

[2019-04-11 18:54] #15 closed

[2019-04-11 22:05] TheAngryByrd opened #17 "Making TaskResult and JobResult libraries"
It was requested [via twitter](https://twitter.com/sergey_tihon/status/1116247497234628613) to have a `TaskResult` added to this library.  I do believe this would be a good idea, as I also work with task heavy CE workloads and rely on the Result type.

As mentioned in that tweet thread, since the main library wants to be Fable compatible, it would have to be its own separate library. `FsToolkit.Er

[2019-04-12 04:50] demystifyfp commented on #17
It makes sense to have them as separate libraries and keep this one only depends on FSharp.Core.

How do you want to go about it? Can we have it as a mono-repo here with the build script publishing three different packages or separate repositories in your GitHub account? I am fine with whatever works for you.

[2019-04-12 07:19] cmeeren commented on #17
Agree that separate libraries should be used here.

Since `Task` is hot (as opposed to `Async` being cold), are there any composability concerns relevant here? I think I remember someone claiming in a blog post or some such that `Task` being hot makes it less composable than `Async`, though I can't immediately see exactly how (provided similar combinators for `Task` as for `Async`).

[2019-04-12 16:53] TheAngryByrd commented on #17
@demystifyfp  I think keeping it in this repository makes sense.  Easier for the dependent libraries to adjust to changes.

@cmeeren Yeah 99% of `Task`s are started or "hot" by the time you get a reference to them, so yes they are less composable. Also there's other downsides like [they're not tail call optimized](https://github.com/rspeele/TaskBuilder.fs#tail-calls-are-not-optimized). The main be

[2019-04-12 17:26] cmeeren commented on #17
But why/how, in concrete terms? And are there any concerns of relevance to usage of a `taskResult` CE?

[2019-04-12 17:53] TheAngryByrd commented on #17
Well some people's definition of composable implies laziness/cold so you're dealing with slightly different semantics about how your `FuturesObject` will behave.  But really it's not less "composable" in the strict sense of the word.

[2019-04-14 04:33] demystifyfp commented on #17
Thanks, @TheAngryByrd for initiating this. Feel free to let me know If there is any help required.

[2019-04-14 10:25] demystifyfp commented on #17
@TheAngryByrd Have you seen this https://github.com/crowded/ply ?

[2019-04-14 14:20] TheAngryByrd commented on #17
Yes it's pretty awesome work. Not sure if I'll use it quite yet.

[2019-04-14 15:18] cmeeren commented on #17
Would be quite a lot of builders! taskResult, taskResultOption, vtaskResult, etc...

[2019-05-08 13:47] TheAngryByrd opened #43 "Sourcelink http sources are wrong"
After downloading the [nuget package](https://www.nuget.org/packages/FsToolkit.ErrorHandling/1.1.0), unzipping it and running some of the [sourcelink test](https://github.com/ctaggart/SourceLink#test) commands it seems the URLs are incorrect.

[code]

[code]

So additionally after trying to debug with the package, vscode cannot find the sources correctly because those Urls are not valid.

I'm thin

[2019-05-09 03:15] #43 closed

[2019-05-09 13:32] TheAngryByrd opened #45 "Still something wrong with SourceLink"
After downloading the [1.1.1 nuget package](https://www.nuget.org/packages/FsToolkit.ErrorHandling), extracting and running `sourcelink print-json`, the URL is still incorrect.

[code]

However when building locally against my own I seem to be a sane URL

[code]

I'm guessing https://github.com/dotnet/sourcelink/issues/278 might be related.

So my remotes listed are using https.

[code]

@demystif

[2019-05-10 04:08] demystifyfp commented on #45
Mine is using `git`.

[code]

[2019-05-10 07:14] TheAngryByrd commented on #45
It seems they have a bug with git style remotes. 😞. I'll open an issue over there.

[2019-05-21 14:29] #17 closed

[2019-05-22 15:50] demystifyfp commented on #45
Updated my gitconfig and published the new version (1.2.1).

Can you verify is it still there?

[2019-05-22 17:02] TheAngryByrd commented on #45
[code]

[code]

Looks like it's good to me!

[2019-05-22 17:02] #45 closed

[2019-05-29 13:06] cmeeren opened #48 "Add Result.sequenceAsync"
I propose adding `Result.sequenceAsync` (or is it `Async.sequenceResult`? I think it's the former). An example implementation is:

[code]

I have had a need for this when using the `Result.apply` or `Result.map` operators (or the corresponding `Validation` operators, which I am using) with an `Async`-returning function. For example, I have the following code:

[code]

The implementation details ar

[2019-05-29 13:25] TheAngryByrd commented on #48
Usually when I end up with that situation I haven't done something right. The functions all need to align to the expected output type which is `Async<Result<Webhook, Error>>`.

So for instance I would create some helpers do:

[code]

Then in the implementation use the AsyncResult operators to do:

[code]

The reason I'm _loosely_ against this is because I've seen people just trying to make types f

[2019-05-29 13:33] cmeeren commented on #48
The operators I'm using are the `Validation` operators, and they are only available for `Result`.

Besides, is there a significant conceptual difference between using wrappers to make all the types match up up front (or as you go along and call them), versus transforming at the end?

[2019-05-29 20:32] TheAngryByrd commented on #48
Looks like we should also add those for Async/Task/JobResult variants too :)

Yeah, that is definitely a downside to the alternative I have given.

[2019-05-29 20:45] cmeeren commented on #48
Would be great! In my specific case, I'd still want `Result.sequenceAsync` though, both due to being less boilerplate, and because it's confusing to have to switch back and forth between different operators.

[2019-05-29 20:51] TheAngryByrd commented on #48
Make a PR :)

[2019-05-29 20:53] TheAngryByrd opened #49 "Add Fable Tests"
Since this library claims to support Fable, we should run tests against javascript to prove that it does.

https://github.com/Zaid-Ajaj/Fable.Mocha has an expecto like API that allows us to use compiler switch to easy switch between dotnet or javascript runtimes.

I've already started down this and will send a PR about this soon.

[2019-05-30 07:50] tamizhvendan opened #52 "Add documentation for JobResult"
@TheAngryByrd I just noticed that we don't have the documentation for the JobResult library. We need to add it when we find the time!

[2019-05-30 17:06] TheAngryByrd commented on #52
https://github.com/demystifyfp/FsToolkit.ErrorHandling/tree/master/gitbook/jobResult

Is this not sufficient?

[2019-05-31 10:36] #49 closed

[2019-05-31 10:42] tamizhvendan commented on #52
Oops, I didn't see that. We need to add that in the SUMMARY.md to show up. Added it just now!

[2019-05-31 10:42] #52 closed

[2019-05-31 11:11] tamizhvendan commented on #48
@cmeeren The latest version `1.2.2` has your changes. Can you verify and close this issue?

[2019-05-31 11:17] cmeeren commented on #48
It's there, thanks! 👍

[2019-05-31 11:17] #48 closed

[2019-06-18 09:37] sandeepc24 opened #53 "JobResult issue with Error"
Have a look at the following code, `dummy` works but `dummyList` does not. I am not sure why.

[code]

[2019-06-18 12:18] TheAngryByrd commented on #53
That's because the error type must match. After the first binding your error type is a string but then your trying to bind a string list.

You'll need to map one of these error types to the other. I'm guessing since you have a list you'll want to preserve that so I'd suggest mapping the first error to a list.

I'm on mobile so I can't give code examples.

[2019-06-18 16:31] TheAngryByrd commented on #53
So one solution to your problem is doing this

[code]

However I usually find that I'll need better composability so I'd opt for discriminated unions.

[code]

[2019-06-19 09:11] sandeepc24 commented on #53
Thanks for the sample, much appreciated.

[2019-06-19 09:11] #53 closed

[2019-07-20 16:36] danyx23 opened #55 "Consider adding Result.requireNonNull"
I really like this library! I just found myself wanting a function that takes a nullable value and makes sure that it is not null by turning it into an Error value if it is null (useful for the many dotnet function that might return null). Would you consider a PR that adds something like the code below?

[code]

[2019-07-20 17:11] cmeeren commented on #55
Would `Option.ofObj >> Result.requireSome` suit your purposes?

[2019-07-21 11:06] demystifyfp commented on #55
@cmeeren It'd help. But I feel @danyx23 requirement makes sense in the context of other such helper functions. What do you recommend?

One suggestion on the name of the function, can we have it as `requireNonNull`?

[2019-07-21 11:29] cmeeren commented on #55
The helper function makes sense to me. 🙂

I'd call it requireNotNull (as OP suggested) instead of requireNonNull though, to fit with other functions (e.g. notEqualTo) (and in my mind it sounds better), but I certainly don't want to create a fuss over the difference.

[2019-07-21 11:50] danyx23 commented on #55
Yes I think while `Option.ofObj >> Result.requireSome` is also a nice way it would be good to have something specific for this rather common case that is a bit more obvious when reading the code.

I am totally fine with requireNotNull. I'll send a PR and then we can discuss any further details there. Thansk!

[2019-07-21 12:11] danyx23 commented on #55
Sent a PR. Let me know what you think. I only realized in the PR that there are some whitespace changes because my editor is set to remove trailing whitespace and doesn't show whitespace diffs when staging changes - hope you don't mind.

[2019-07-22 16:17] demystifyfp commented on #55
Thanks, @danyx23 for the PR. I've merged the changes and published the new version `1.2.3`. Can you verify the changes and close this issue?

[2019-07-27 13:01] danyx23 commented on #55
Looks good. I have some strange issue with the update of the nuget file in the project that I am using this but the assembly has the new code and everything should work so I'm closing the issue.

[2019-07-27 13:01] #55 closed

[2019-10-07 05:11] CameronAavik opened #57 "Consider adding ignore method to each type"
I've found myself reaching many times for something like `AsyncResult.ignore` or `AsyncResultOption.ignore` to do the same thing that [`Async.Ignore`](https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/async.ignore%5B't%5D-method-%5Bfsharp%5D) does.

I've just been replacing it with `AsyncResult.map (fun _ -> ())` in my code, but I thought it might be a useful addition to the library for

[2019-10-07 05:54] cmeeren commented on #57
Side note: Instead of `AsyncResult.map (fun _ -> ())` you can do `AsyncResult.map ignore`.

[2019-10-07 07:31] demystifyfp commented on #57
Thanks, @CameronAavik for the suggestion. Yes, It'd be useful. Are you planning to send any pull request?

[2019-10-07 18:32] CameronAavik commented on #57
Yes, I'll make a PR later tonight for it.

[2019-10-10 07:02] CameronAavik commented on #57
Finished in #58

[2019-10-10 07:02] #57 closed

[2019-10-17 15:17] deyanp opened #60 "Scott Wlaschin's AsyncResult missing functionality"
Do you intend to implement some of the functions Scott Wlaschin has in its AsyncResult/Result modules, e.g.

AsyncResult.catch
AsyncResult.ofAsync
AsyncResult.ofSuccess
AsyncResult.ofError
AsyncResult.ofResult?

https://github.com/swlaschin/DomainModelingMadeFunctional/blob/master/src/OrderTakingEvolved/Result.fs

[2019-10-17 15:42] TheAngryByrd commented on #60
If you're using the Computation Expression for `asyncResult` most of these are built in.  If you're trying to compose solely with functions, these are missing. This would make for a great first PR 😃 .

[2019-10-17 15:42] TheAngryByrd commented on #60
We would also want similar functions added to `TaskResult` and `JobResult`.

[2019-10-18 14:14] TheAngryByrd commented on #16
Are there any additional tests we should add? cc @cmeeren

[2019-10-18 19:28] cmeeren commented on #16
No idea. It's been so long, and the tests in FsToolkit.ErrorHandling seems to be written/structured/refactored differently (using Expecto) than when we did the merge, so I have no idea what tests are currently in FsToolkit.ErrorHandling. My best suggestion would be that you simply investigate [the tests](https://github.com/cmeeren/Cvdm.ErrorHandling/tree/master/src/Cvdm.ErrorHandling.Tests) and se

[2019-11-08 18:31] cmeeren opened #61 "Code on website renders incorrectly"
For example https://demystifyfp.gitbook.io/fstoolkit-errorhandling/result/map2

Notice how every `'` is interpreted as a start/end string delimiter, causing incorrect colors.

![image](https://user-images.githubusercontent.com/7766733/68501373-45d52780-025e-11ea-9068-d792a7cd80a3.png)

[2020-01-13 23:42] Swoorup opened #65 "Add Option/Maybe CE"
Doesn't it make sense to also add Option computation expression to this library?

[2020-01-14 07:14] cmeeren commented on #65
I would certainly welcome that! I often define a very simple (`Return`/`ReturnFrom`/`Bind`) option CE in most of my projects where I also use FsToolkit.ErrorHandling, so I would certainly use it if it was implemented.

[2020-01-14 13:39] TheAngryByrd commented on #65
Agreed. I think having an option CE is a good idea.

[2020-02-14 20:49] #65 closed

[2020-02-17 07:46] svdHero commented on #60
@TheAngryByrd, following our recent Slack discussion about error handling, I'd love to work on this and give something back to the community. However, this would be my first F# PR ever and it might take a while, before I am addressing this in my project.

Any advice how to contribute? Which toolchain / tools should I use? I am using Visual Studio 2019 with Nuget and don't know anything about Packa

[2020-02-17 13:31] TheAngryByrd commented on #60
Good point, we don't have prerequisites on the README.  I'll have to add those.  Since we build for `netstandard2.0;net461` you'll want at least dotnet core 2.1 and at least full framework 4.6.1 installed.  Additionally since we transpile to javascript with Fable, you'll want to have [node LTS](https://nodejs.org/en/) installed.

Also it looks like we need to make a `build.cmd` for this project to

[2020-03-05 14:34] Micha-kun opened #70 "JobResult infixes compatible with Job infixes"
Job infixes are very useful for concurrent development and would be ideal if JobResult had the same infix implementations. For example, **<*> infix** is used to pair jobs into a single job, sort of **Task.WhenAll**. From Hopac documentation, implemented infixes are:

[code]

I understand all (by now) are not implementable (there is no AltResult, nor ChResult, etc.) but the Job related infixes woul

[2020-03-05 18:42] TheAngryByrd commented on #70
I have severe reservations about adding too many infix operators. The general consensus in the F# community seems to dislike the use of large amounts of operators and is deemed confusing.   Even Don Syme [would like to see applicative operators reduced in usage](https://github.com/dsyme/fsharp-presentations/blob/master/design-notes/rethinking-applicatives.md). Although there are exceptions to havi

[2020-03-07 09:22] Micha-kun commented on #70
I'm thinking the same, I just copied their docs. But the most common would be great, like pairing ones or the basic ones for sequencing or composition. The other ones maybe are too much, but you can use them with Job objects, so maybe experienced Hopac developers would be happy with those as a fully compatible library, so they doesn't need to do more coding than needed.

[2020-04-13 22:04] baronfel opened #76 "Enhance stack traces/debugging for CE's exposed in this project"
I know that we don't typically throw exceptions when using results and such, but I think it would be a good idea to put the tips from https://github.com/dotnet/fsharp/pull/4867 into place for the CEs in this repository. Mostly this comes down to

* have CE's just call matching module-level functions where applicable, and
* `inline` as many CE members as is practical, and
* if try/with is used anyw

[2020-04-13 22:20] TheAngryByrd commented on #76
I will look into this after I get the applicative work done.

[2020-04-14 15:09] TheAngryByrd commented on #16
Ok until we have something more actionable, i'm gonna close this.

[2020-04-14 15:09] #16 closed

[2020-04-14 15:10] TheAngryByrd commented on #70
Unless other maintainers think otherwise, I'm going to put this in the "wont-fix" category.

[2020-04-14 15:10] #70 closed

[2020-04-29 14:51] Micha-kun opened #77 "TaskOption"
Seeing there are methods for AsyncOption, TaskResult, and even TaskResultOption, I'm surprised that there isn't a module with functions for TaskOption. Even there is a computation expression, but no module functions. Exists any reason for that?

[2020-04-29 18:28] TheAngryByrd commented on #77
Mostly an oversight.  I'm definitely for having more module level functions.

Seems like we dont have `AsyncOption` either. So we'd want to have module functions for:

- [ ] AsyncOption
- [ ] TaskOption
- [ ] JobOption

I'm not which all functions we should have but probably some basics like `map/bind/return` makes sense as a starting point.

[2020-05-01 14:34] njlr opened #78 "Compatability with AsyncSeq?"
So `FSharp.Control.AsyncSeq` extends `async` so that you can do this:

[code]

But this is not implemented for `asyncResult`:

[code]

I would be great if this worked, although I'm not sure how it could be implemented. Perhaps this is just a limitation of F#?

[2020-05-01 15:27] TheAngryByrd commented on #78
Looking at that code base it, `AsyncSeq` isn't an extension of `Async` it is [its own type](https://github.com/fsprojects/FSharp.Control.AsyncSeq/blob/master/src/FSharp.Control.AsyncSeq/AsyncSeq.fs#L19-L26).

And to support the use case of iterating over them in an `async` CE, they've [added an extension member](https://github.com/fsprojects/FSharp.Control.AsyncSeq/blob/master/src/FSharp.Control.A

[2020-05-01 15:48] TheAngryByrd commented on #78
Looks like that code I posted wont work. You'll have to implement your own traverse function to get the types to match up.  You can take a look at examples from the [List.fs](https://github.com/demystifyfp/FsToolkit.ErrorHandling/blob/master/src/FsToolkit.ErrorHandling/List.fs) to implement it.

[2020-05-01 15:58] TheAngryByrd commented on #78
if you're looking for a super hacky solution

[code]

works but it doesn't support the lazy nature of seq.

[2020-05-01 19:54] njlr commented on #78
I didn't realize you could extend an existing computation expression in that way, very useful trick!

However, where should this extension live? I presume you don't want to take `FSharp.Control.AsyncSeq` as a dependency?

[2020-05-01 22:05] TheAngryByrd commented on #78
I’d say try it out in your code for a while before putting it in this library. When we go to do that we would end up making a new project like we did with Tasks or Hopac support.

[2020-05-11 15:22] njlr commented on #78
I was able to design an `async` version like this:

[code]

I'm still unsure of the best semantics though. Should the `for` stop at the first `Result.Error`?

[2020-05-11 16:29] TheAngryByrd commented on #78
Yes this is how all others are implemented currently.

I'm unsure what you're asking.

[2020-05-11 16:56] TheAngryByrd commented on #78
Ok so testing this solution also has an issue, it attempt to run through the whole AsyncSeq.

[code]

Will result in:

[code]

So I dabbled and came up with a solution that fits that will stop execution if it no longer needs to

[code]

which the above code will now execute as:

[code]

[2020-05-12 09:52] njlr commented on #78
Basically it comes to down to this example. Should it work?

[code]

[2020-05-12 13:18] TheAngryByrd commented on #78
Ahh yeah it won't work with the sample I've given.  This will work but with one caveat:

[code]

[code]

[2020-05-12 13:40] njlr commented on #78
Exactly!

I'm not sure which behaviour is preferable.

[2020-05-12 14:08] TheAngryByrd commented on #78
I think having support for both is necessary even if the user has to use a type annotation.

[2020-05-20 12:33] TheAngryByrd commented on #76
Chet and I did a livestream of this: https://www.twitch.tv/videos/625998302

Here are some of the initial results:

---

The result CE's original stack trace.

[code]

As you can see we're spending a lot of time in the CE builder itself.  With some inlining we've gotten to this stack trace:

[code]

Which shows a vast improvement to clarify of where the error is coming from and removing the needle

[2020-05-25 00:57] ysangkok opened #79 "Add AsyncResult.ofTask with non-generic Task passed in"
Methods like [ConnectAsync](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.tcpclient.connectasync?view=netcore-3.1#System_Net_Sockets_TcpClient_ConnectAsync_System_Net_IPAddress_System_Int32_) returns a non-generic Task, which cannot be used with AsyncResult.ofTask

[2020-05-25 01:54] TheAngryByrd commented on #79
Sounds like a good addition!

[2020-05-25 01:55] TheAngryByrd commented on #79
We have a function for that [ofTaskAction ](https://github.com/demystifyfp/FsToolkit.ErrorHandling/blob/master/src/FsToolkit.ErrorHandling/AsyncResult.fs#L32).

[2020-05-25 02:02] ysangkok commented on #79
I tried that, this is the error I get:

[code]

[2020-05-25 02:06] ysangkok commented on #79
let me prepare a complete example...

[2020-05-25 02:09] ysangkok commented on #79
Actually, I get that error even with this:

[code]

Is this not compatible with F# 4.5?

[2020-05-25 03:25] TheAngryByrd commented on #79
Hmm we have a test that does bind against a unit task.

https://github.com/demystifyfp/FsToolkit.ErrorHandling/blob/e9e05ba10d7e770b52497545d659973c221c8235/tests/FsToolkit.ErrorHandling.Tests/AsyncResultCE.fs#L148-L154

Version [1.2.6](https://www.nuget.org/packages/FsToolkit.ErrorHandling/1.2.6) requires FSharp 4.6.2.

[2020-05-25 03:43] TheAngryByrd commented on #79
It doesn't look like there's a good reason to not drop the minimum required FSharp.Core version, I'll open a PR for that.

[2020-05-25 03:53] TheAngryByrd commented on #79
[code]

`do!` is invalid here since you're trying to bind against something that has data.  In your case the value `"Test"`.  You have two options.

Ignore the result:

[code]
or have the value be a unit:

[code]

[2020-05-25 06:14] ysangkok commented on #79
Aaaah, thank you so much! It makes sense, I get it. Indeed I would appreciate if the min version was F# 4.5, since that is what the Mono packages for Ubuntu ships.

[2020-05-25 06:14] #79 closed

[2020-05-25 16:34] #76 closed

[2020-05-26 13:23] TheAngryByrd commented on #78
Ok, I think I've answered this. Going to close.

[2020-05-26 13:23] #78 closed

[2020-06-05 19:56] #77 closed

[2020-06-08 09:15] cmeeren opened #84 ">=1.3.0 causes nonsensical Intellisense/compilation errors (due to applicatives?)"
After upgrading from 1.2.6 to 1.3.0 or above, I get nonsensical compilation errors:

![image](https://user-images.githubusercontent.com/7766733/84013556-5dea6200-a979-11ea-8e1b-64d74c3876ac.png)

I guess this has to do with applicatives.

I am using `<LangVersion>preview</LangVersion>` to get access to `nameof`, which I use extensively in logging.

It builds fine with the VSBuild task on Azure Pip

[2020-06-08 15:52] TheAngryByrd commented on #84
This unfortunately feels like an F# compiler issue. :(

@baronfel and I are looking at making a PR to FSharp.Core soon.

[2020-06-08 16:09] TheAngryByrd opened #85 "Source overload breaks `match!`"
In https://github.com/demystifyfp/FsToolkit.ErrorHandling/pull/83 I started using the `Source` member to help with maintainability.  However after using it in a work project, `match!` expressions became broken.  @baronfel identified the issue in the F# compiler and have a PR  open https://github.com/dotnet/fsharp/pull/9407.

This is just a tracking issue for the upstream problem so others can find

[2020-06-08 17:03] TheAngryByrd commented on #84
For a workaround right now could you do:

[code]

---

@cartermp I think we found another edge case in CEs wrt applicatives.

[2020-06-08 18:15] cmeeren commented on #84
Thanks for the tip. I'll stick with 1.2.6 for now; it's the most non-intrusive solution.

[2020-06-08 18:46] TheAngryByrd commented on #84
I can definitely confirm this bug happens when adding the `BindReturn` member.

[2020-06-08 19:37] baronfel commented on #84
@cartermp I'm about to submit an issue with more details that should help narrow it down

[2020-06-09 15:06] TheAngryByrd opened #86 "Force binding on top wrapper"
With the introduce of the Source members in #83, it's now not possible to tell the binding to handle only the `Async<_>` part of the `Async<Result<_,_>>` in a CE.

Example:

[code]

Will no longer compile.

[2020-06-12 16:13] TheAngryByrd commented on #84
I'm going to keep this open until F# release a new preview with the fix

[2020-06-12 16:13] TheAngryByrd commented on #85
I'm going to keep this open until F# release a new preview with the fix

[2020-06-23 14:48] piaste commented on #86
👍

Just found this broke some of our code after running a test `paket update`. Will be pinning to 1.3.1 until a fix or a workaround.

[2020-06-23 15:01] TheAngryByrd commented on #86
Yeah I can fix this one pretty easily. Let me get to that.

[2020-06-23 15:27] #86 closed

[2020-06-24 08:38] piaste commented on #86
Thank you, 1.4.1 fixes that.

After updating I've found another breaking change, but it's a little more complicated. I'll open a separate issue.

[2020-06-24 09:44] piaste opened #88 ">=1.3.0 breaks type inference of unwrapped types"
Thanks again for fixing #86. After updating to 1.4.1, however, I still get errors from code which compiled with 1.2.6.

Here's a minimal repro:
[code]

Under 1.2.6, this compiles. Under 1.4.1, the compiler can't figure out the type of `v'` and errors out with a "lookup of indeterminate object type" on `v'.A`

Note that if you replace `X()` with a record, the code may compile because F# will infer

[2020-06-24 14:19] TheAngryByrd commented on #88
Ugh this feels like a potential compiler bug. cc @cartermp @baronfel

---

A less verbose work around is to add a type annotation to `v`

[code]

Additionally this problem is not apparent when using the `<LangVersion>preview</LangVersion>` in the fsproj.

[2020-06-24 14:35] TheAngryByrd commented on #88
With all these breaking changes (#84 #85) I should probably unlist these newest packages and bump this package to v2.

[2020-06-24 14:39] baronfel commented on #88
Preview opts you into applicative support, are you thinking there's an interaction there with typechecking?

[2020-06-24 14:40] TheAngryByrd commented on #88
If I expand the example to:

[code]

This no longer works because it's not in applicative mode.  So there's an issue with type inference with regards to `Source` members and Classes/Anonymous Records

[2020-06-24 16:46] cartermp commented on #88
This looks like a compiler regression given that it doesn't repro unless you turn on preview, which actives applicatives and the associating typechecking.

[2020-06-24 16:53] baronfel commented on #88
That's not how I read it, @cartermp. In https://github.com/demystifyfp/FsToolkit.ErrorHandling/issues/88#issuecomment-648850317 @TheAngryByrd said that turning on preview fixed the initial report, which suggest to me that the rewrite to BindReturn that happened works as expected. The first example is a pretty classic BindReturn scenario.

The example in https://github.com/demystifyfp/FsToolkit.Err

[2020-06-24 17:12] cartermp commented on #88
Oh, derp. I misread

[2020-06-24 20:10] baronfel commented on #88
here's the code I'm tinkering around with to show the difference between how classes are resolved vs how records are resolved:

[code]

each of the `let!` in the `f()` are throwing the following error:

[code]

which to me looks like we're definitely mis-computing the type of the `binder` argument for classes somehow?

[2020-06-24 21:01] baronfel commented on #88
more findings:

@TheAngryByrd and I added some logging to the CE typecheck pass and went through an exercise of manually translating the logged `SynExpr`s we saw into the actual builder calls.

<details>
<summary>Final Delay call emitted by the compiler</summary>

[code]
</details>

<details>
<summary>expanded equivalent</summary>

[code]
</details>

As best as we can tell, the emitted lambdas are

[2020-06-24 21:34] baronfel commented on #88
This seems to be because of the presence of the `Bind(Async<'t>, 't -> Async<Result<'t, 'err>>)` overload. This was _just_ introduced in version 1.4.1 of this library, to allow users to unwrap only one level of the `Async<Result<'t, 'err>>` wrapped type. However it seems that adding these bind overloads makes the compiler unhappy. The ambiguity can be solved by forcing explicit type patterns (`let

[2020-06-25 02:39] sandeep-eroad commented on #88
I am also seeing similar behaviour with Postgres Type provider https://github.com/demetrixbio/FSharp.Data.Npgsql with latest version of FsToolkit but this works fine with version 1.2.2.

[2020-06-25 17:29] TheAngryByrd commented on #88
Well the current options are:

- See if there's a way to get the F# compiler to fix this problem (seems unlikely)
- Remove the `Bind` introduced in #87 to allow for type inference to work properly and list work arounds for handling the other wrapper type.
- Keep the `Bind` from #87 and have this as a known issue in documentation where you have to add a type annotation.

[2020-06-30 02:40] sandeep-eroad commented on #88
I vote for 2 option.

[2020-07-01 12:59] MaxDeg opened #89 "AsyncResut CE cannot bind Result<,> type since 1.4.1"
Sadly since the version 1.4.1 the following code refuse to compile.

[code]

The following line is the responsible
`let! repository = repository`

It looks like the Bind method accepting a Bind has been removed for some reason.

[2020-07-01 13:09] ursenzler commented on #89
I found the same issue.

Here a shorter repro code that compiles under 1.4.0 and fails under 1.4.1:

[code]

Error message:
0>C:\Projects\FsToolkit.Errorhandling.AsyncResultRepro\V141\Library.fs(14,9): Error FS0041 : No overloads match for method 'Bind'. The available overloads are shown below.
0>------- Finished building project: V141. Succeeded: False. Errors: 1. Warnings: 0

btw: many thanks fo

[2020-07-01 14:15] TheAngryByrd commented on #89
@MaxDeg may be related to #88

---

@ursenzler

Unfortunately I can't seem reproduce this.  It seems to compile fine with 1.4.0 and 1.4.1 for me. https://github.com/TheAngryByrd/fstk_issue89

[2020-07-01 14:18] MaxDeg commented on #89
@TheAngryByrd indeed it's the same issue. I missed it :(

[2020-07-01 14:22] TheAngryByrd commented on #89
No worries, I don't expect everyone to have the same intimate knowledge about all open issues :)

[2020-07-01 14:27] TheAngryByrd commented on #89
@ursenzler nope I'm wrong.  VSCode was doing it's fun thing and not saving files.  :(

[2020-07-01 14:29] TheAngryByrd commented on #89
Yeah this is exactly the same problem as #88.  Please take a look at https://github.com/demystifyfp/FsToolkit.ErrorHandling/issues/88#issuecomment-649718087 and comment on which solution seems best for you.

Closing as duplicate and moving conversation there.

[2020-07-01 14:29] #89 closed

[2020-07-02 15:56] piaste commented on #88
I too vote 2. As I mentioned, we use this type inference every single time we make a database query, and we *cannot* add a type annotation because the type is generated by the type provider and doesn't have a usable name.

On the other side, the issue in #86 only appeared in a couple of spots through our codebase, and a workaround _should_ be possible, since all CEs are just sugar, although it see

[2020-07-02 16:15] TheAngryByrd commented on #88
Yeah this was the same for one of my work projects, but there was no real good reason for us to be doing it.

Ok I'm going to revert #87 and yank the release of 1.4.1 for now.

[2020-07-02 16:28] TheAngryByrd commented on #88
@piaste so typically if I needed the Result directly for some reason, I would just use an `async` CE.

We also might be missing other function helpers but the most basic to just handle either Ok or Error cases,

https://github.com/demystifyfp/FsToolkit.ErrorHandling/blob/aa9f8add03707b3dfe00a52e4f81984740832af5/src/FsToolkit.ErrorHandling/AsyncResult.fs#L23-L24

tends to be able to handle it.

[2020-07-03 13:30] piaste commented on #88
@TheAngryByrd the issue happened when we had a long `taskResult` computation, as usually every API endpoint is a single `taskResult` CE, but at one particular point in the flow we had an error return that we were able to handle on the spot instead of returning a HTTP failure. Restructuring the entire CE to be a plain `async` with manual error handling would not be worth it.

For now, I've solved i

[2020-07-15 14:06] #88 closed

[2020-07-21 08:40] landy opened #92 "compilation warning in Fable AsyncResult"
Hello, thank you for a great library.

I'm not really sure if this issue should be created here, in Fable repository or it is something I did wrong.

After I installed FsToolkit.ErrorHandling to my Safe stack project I started getting compilation error from Fable compiler:

[code]

Any help would be appreciated

[2020-07-21 16:02] TheAngryByrd commented on #92
Hmm “awaitTask“ shouldn’t be showing up. I might have a missed an IFDEF. I’ll investigate.

[2020-07-22 13:25] TheAngryByrd commented on #92
Yeah looks like I need to IFDEF off https://github.com/demystifyfp/FsToolkit.ErrorHandling/blob/master/src/FsToolkit.ErrorHandling/AsyncResult.fs#L26-L36.  What version of Fable are you running.  We have tests and they're passing so this might be a recent change to Fable.

[2020-07-22 13:30] landy commented on #92
Im using
fable-compiler: 2.10.2
fable-loader: 2.1.9
Fable.Core: 3.1.5

[2020-07-22 13:47] #92 closed

[2020-07-22 22:41] TheAngryByrd commented on #92
Ok, give the latest 1.4.3 a try.

[2020-07-23 00:44] arunr14 opened #94 "Async ce inside a Result ce"
Hello

I am using 1.4.3
Is it possible to have an async ce inside a result ce ?  I am trying to do the following
[code]
 and it gives me an error saying **No overloads match for method source**.
 I have read through issue 84 and 88 but I am still unclear on the matter. Any help is appreciated.

Thanks

[2020-07-23 13:40] TheAngryByrd commented on #94
No this is not possible.  `Result` CEs are for synchronous work while `AsyncResult` is for Async work.  You'll have to convert the entire chain to using `asyncResult` if you're using F#'s `Async` CE anywhere.

[2020-07-23 13:48] TheAngryByrd opened #95 "Move to Github Actions"
Consider using [MiniScaffold](https://github.com/TheAngryByrd/MiniScaffold/blob/master/Content/Library/.github/workflows/build.yml) or [Waypoint](https://github.com/ionide/Waypoint/tree/master/Content/.github/workflows) style Github Actions instead of Travis.

Why? Travis is extremely slow.

[2020-07-23 18:44] arunr14 commented on #94
Thank you for the clarification. Closing the issue

[2020-07-23 18:44] #94 closed

[2020-07-24 12:39] landy commented on #92
It is ok now! thanks a lot for such a quick fix 👍

[2020-07-31 02:12] wwinogrodzki opened #96 "Latitude and Longitude mismatch in Example 2"
https://demystifyfp.gitbook.io/fstoolkit-errorhandling/result/map2
Of course, not relevant to the very matter that is under discussion here, but: Examples of longitude and latitude are incorrect. Longitude is -180 .. 180 and Latitude is -90 .. 90.

[2020-08-05 09:12] TheAngryByrd commented on #96
Thanks! Can you send in a PR to fix it?

[2020-08-24 17:54] #95 closed

[2020-10-08 17:35] JordanMarr opened #99 "How to unwrap an async"
I just upgraded from Cvdm.ErrorHandling to this.
In Cvdm.ErrorHandling, I could unwrap an `Async<Result<User, string>>` by using `let!` operator without piping into any of the AsyncResult or Result module conversion functions.

[code]

Now this fails because it's trying to look at the result type. But in this case, I don't want to fully unwrap it to be just a User -- I actually want it to be a Res

[2020-10-08 18:02] TheAngryByrd commented on #99
Yeah this is a known problem with how the binding overloads work in F#. 😞  This is discussed in  https://github.com/demystifyfp/FsToolkit.ErrorHandling/issues/88

Short answer, use the `async` CE or rework so you don't need to do this.

[2020-10-08 18:11] TheAngryByrd commented on #99
For a more concrete example, you can an async CE inline and do something like this:

[code]

[2020-10-08 18:11] JordanMarr commented on #99
Shoot.
So then my options are to revert back to Cvdm version, or rework with async CE.
I suppose async CE is the better choice since Cvdm is no longer maintained.

[2020-10-08 18:13] TheAngryByrd commented on #99
Yeah I did this in my codebase in many places as well.  I should probably find the F# RFC for helping fix this issue so people 👍  it.

[2020-10-08 18:17] JordanMarr commented on #99
:.(

[2020-10-08 21:37] JordanMarr commented on #99
Would you consider adding this helper function to the AsyncResult module?

[code]

[2020-10-09 15:27] TheAngryByrd commented on #99
I'm glad you found a solution that works for you but I don't think I would accept it.  Here are some of my reasons:

1. I'd like for the real fix to be in the F# compiler itself and I'm shy to add work arounds to the library for it.
2. This creates a Result in a Result so `Async<Result<Result<'a,'err>,'err>>` which doesn't seem obviously useful.
3. `awaitResult` seems like a misnomer, it's not rea

[2020-10-09 15:33] TheAngryByrd commented on #99
I believe https://github.com/fsharp/fslang-suggestions/issues/905 is the correct suggestion to fix this in the F# compiler.  I think I need to add to that issue since our particular case is because use the `Source` transformation to help cut down on the need for combinatorially explosive extension methods (reduction shown in https://github.com/demystifyfp/FsToolkit.ErrorHandling/pull/83).

[2020-10-09 15:38] JordanMarr commented on #99
2. It's meant to be more of a shim / adapter, so it's not the same 'err in the outer result.
It would be more like this: Async<Result<Result<'a, 'originalError>, 'adaptedError>>

So the use case being that you are using a custom error DU within your asyncAwait CE, and then you want to await an async result function that doesn't use your custom error DU, and you don't want to unwrap the result.

3.

[2020-10-09 16:01] JordanMarr commented on #99
Looking again at #88, I think this is slightly different.
I'm not getting the "lookup of indeterminate object type" error.

The issue is that I'm using a custom error DU in my awaitResult -- in my case, `DrawingLogError` -- and I'm trying to await a function that returns a result with a different error type: `ProjectData.getBim360ProjectInfo`.

[code]
[code]

The `getBim360ProjecInfo` fails with "

[2020-10-11 19:40] AntyaDev opened #101 "Please add Yield() for OptionCE"

[2020-10-11 21:36] JordanMarr opened #102 "try catch"
Is there a way to specify an exception handler function for a given asyncResult block?
Currently I am manually putting a try catch inside the asyncResult, but it would be cool if I could specify a built-in try catch that would wrap maybe the bind (or run).

[2020-10-12 14:47] JordanMarr commented on #102
Never mind! I found a catch function that works well enough.

[2020-10-12 14:47] #102 closed

[2020-10-12 17:12] TheAngryByrd commented on #101
Could you elaborate?

[2020-10-12 21:29] AntyaDev commented on #101
Hi @TheAngryByrd
Your implementation of option {} doesn't support yield operator
https://github.com/demystifyfp/FsToolkit.ErrorHandling/blob/master/src/FsToolkit.ErrorHandling/OptionCE.fs

member this.Yield(x) =

[2020-10-12 21:48] TheAngryByrd commented on #101
Ok but why would this need to be implemented? And how?

[2020-10-13 03:07] AntyaDev commented on #101
Sorry, that didn't put a context.
If for example, I want to use

option {
    for in do
        yield item // this will be a compile error
}

I faced with this limitation recently and needed to switch from using CE.

[2020-10-13 13:58] TheAngryByrd commented on #101
Option isn't for dealing with lists so I'm unsure if this is the computation expression you need in that scenario.

[2020-10-13 23:55] witoldsz opened #103 "AsyncResult.mapAsync? (or some other name)"
I am beginning my journey with F# and I am just figuring out there is so much missing in F# standard library. That is a surprise for me, and I am so glad I have found this library full of useful stuff.

I am trying to port some of the functions I use currently in my other projects, for example:

[code]

I don't know what would be the best name for this `map???`, maybe `mapAsync` (original name in

[2020-10-14 17:13] TheAngryByrd commented on #103
Yeah I struggle with what the correct terminology would be. I think it goes into `bind` territory since `bind` infers unwrapping a thing to operate on. So we would end up providing for AsyncResult a`bind` which takes a `'a -> Async<Result<'b,'c>>` and a `bindAsync` which takes a `'a -> Async<'b>` and any other `bindXYZ` for Tasks/Jobs/Promises and possible variants for the `Error` path as well but

[2020-10-14 17:15] TheAngryByrd commented on #103
Even though we don't provide all the functional `bindXYZ` variants we do provide overloads for them in our computation expressions, which many people like using since it tends to read nicer.

[2020-10-14 17:27] witoldsz commented on #103
OK, thanks. I am still wrapping my head around composing functions (`>>` and `|>`) and using computation expressions (this is new, have not seen anything like this, expect for Haskell `do`) and I can always just add these methods as they are easy to write (at least for me now) and most other things are implemented in this superb _FsToolkit_ already (it reminds me of [jOOλ - The Missing Parts in Ja

[2020-10-16 12:10] Swoorup opened #104 "Add Warnings for ValidationCE"
It would be nice to be on par with Chessie, which also has warnings support, which are not necessarily errors.

[2020-10-16 13:20] TheAngryByrd commented on #104
I think we would want to encode that into a new DU type with `Ok | Warn | Error` but that might be outside the scope of this library since we're only dealing with the `FSharp.Core Result` type. I know Chessie does it with `Ok of 'a * 'Msg list | Error of 'Msg list` but I don't really like how that's done.

[2020-10-16 13:23] Swoorup commented on #104
Would have thought Ok would contain `('value * 'warning list * 'info list)` and Error just `'error list`?

[2020-10-22 13:25] #101 closed

[2020-10-22 13:26] TheAngryByrd commented on #103
Thanks :)

I think this is answered so going to close.

[2020-10-22 13:26] #103 closed

[2020-10-22 13:27] TheAngryByrd commented on #104
You _can_ do that but I don't like it since you're not using the type system to your advantage.

I'd say come up with a version that works and submit a PR so we can discuss the implementation if you find that pattern useful.

[2020-10-22 13:38] Swoorup commented on #104
The reasoning for not choosing a DU is that, warnings/info are not necessary a failure or should cause the system to fail, only errors would. i.e I would want to be able to get the Ok value, and simply log out or gather the warnings or infos and pipe it elsewhere? Whereas error would cause a fail?

[code]

[2020-11-01 05:19] sandeepc24 opened #105 "Add `Result.requireTrue` to take second parameter as a function"
Currently `Result.requireTrue` takes second parameter as a value, would it make sense to add an overloaded version or new extension method to allow it to take a function. This can be used in following scenarios

[code]

[2020-11-01 06:20] sandeepc24 commented on #105
I think I need to use `teeError`.

[2020-11-01 06:20] #105 closed

[2020-11-16 22:26] Swoorup opened #106 "Use affine tasks instead of non-affine"
Shouldn't the default behaviour be to use ply affine tasks instead of non-affine.

Reason being that current scheduler shouldn't be ignored. This allows having top-level control over degree of parallelism in which all child tasks would respect as well.

It's easy to override and use default scheduler even if using affine tasks than the other way around

[2020-11-17 03:21] TheAngryByrd commented on #106
No according to Microsoft general purpose libraries should be using ConfigureAwait(false) https://devblogs.microsoft.com/dotnet/configureawait-faq/

[2020-11-17 04:11] Swoorup commented on #106
Not sure I agree, that it should be the default. There is a minor performance without using `ConfigureAwait(false)` which I agree, but it means losing control of parallelism if subsequent child tasks are launched in parallel say in Asp.Net context.

It's possible to install the default/custom synchronization context when using the affine tasks, but not possible if using the non-affine version.

In

[2020-11-17 14:17] TheAngryByrd commented on #106
Ok I read through those and they seem reasonable.  I don't have power currently so could you send a PR with this fix?

[2020-11-18 16:26] #106 closed

[2020-11-24 15:24] TheAngryByrd commented on #84
Pretty sure this is fixed in F# 5.0

[2020-11-24 15:24] #84 closed

[2020-11-24 15:28] TheAngryByrd commented on #85
Pretty sure this is fixed in F# 5.0

[2020-11-24 15:28] #85 closed

[2020-11-24 15:44] cmeeren commented on #84
Was fixed in an updated VS version, to be specific.

[2021-02-04 16:46] rahicks26 commented on #60
Is anyone actively working on this? If not might be a fun weekend project for me

[2021-02-05 20:57] svdHero commented on #60
No, not right now. Unfortunately, I've never managed to give it a try due to other projects. Please, go ahead.

[2021-02-11 00:55] rahicks26 commented on #60
Sounds good. I got tied up last weekend but I should be able to get started soon.  As I understand it what we want to do here is add some static helpers like:

[2021-02-24 16:55] kurt-mueller-osumc opened #109 "I use this module pretty much for any validation code I write"
Currently, my work requires me to read in csvs, json files, and xmls and parse/validate the files. I use `FsToolkit.ErrorHandling` validation computation expression to validate group of attributes and collect any validation errors. FsToolkit.ErrorHandling makes this insanely easy to do and provides a clean, readable solution.

I just want to thank everybody who contributed to this library. It's re

[2021-03-04 11:46] cmeeren opened #117 "Enable asyncOption CE to bind Async<'a>"
Currently it can be annoying to use `asyncOption` because I have to append `|> Async.map Some` everywhere I bind a computation that does not return `Async<'a option>` but just `Async<'a>`.

It would be great if the `Bind` member was overloaded to accept a plain `Async<'a>`. (This must be an extension member to avoid overload resolution problems.)

[2021-03-11 16:00] no1melman opened #119 "Forking logic using Result.Error"
So i've got this logic:

[code]
So if `cacheGet` is successful, then we just return the data.
If `cacheGet` fails, then we just go straight to the API, once the data comes back, if that is successful, cache it, otherwise filter the data through....

Obviouly this is a little trickier because everything is basically a return function (`'a -> Task<Result<'b'c>>`) and we're replacing the error branch

[2021-04-21 17:24] TheAngryByrd commented on #60
Closign via #124

[2021-04-21 17:24] #60 closed

[2021-04-21 21:32] travis-leith opened #125 "Add applicative support to OptionCE"
I can submit a PR this weekend if any interest.

[2021-04-22 13:13] TheAngryByrd commented on #125
Absolutely!

[2021-04-22 15:37] #109 closed

[2021-05-14 19:57] #125 closed

[2021-07-01 15:33] TheAngryByrd commented on #119
Sorry for the late response:

I think the term we'd want to go with is `orElse` which I think is used in the [Option.OrElse](https://fsharp.github.io/fsharp-core-docs/reference/fsharp-core-optionmodule.html#orElse) module.

[2021-07-07 19:40] #119 closed

[2021-08-16 19:44] njlr commented on #78
In case anyone stumbles on this, I recently got around to packing this code: https://github.com/njlr/FsToolkit.ErrorHandling.AsyncSeq

[code]

Hope it helps!

[2021-09-03 12:57] TheAngryByrd commented on #78
Nice! If you want to submit that for me to maintain in this repository as a PR, I'll be happy to do it. We'll have to figure out the nuget permissions tho.

[2021-09-03 18:04] njlr commented on #78
Sure, happy to.

Would it be one repo (this one) with multiple Nuget packages?

I can delete my Nuget package and give you the name if that's easier.

[2021-09-03 18:08] TheAngryByrd commented on #78
Yeah, we can just add it to this repo so it doesn't fall out of sync with any changes made here.

Yeah if that's the simplest solution, let's do it.  If not we'll figure it out :)

[2021-09-06 03:35] joshpme opened #137 "Common Pattern Result -> Option"
In many of our companies projects, we see this pattern. Where we need treat a result as an option.

The code normally looks something like this:
[code]
Is this something worth adding to this project? (or are we doing it wrong)

[2021-09-07 13:16] TheAngryByrd commented on #137
Absolutely! Please send a PR.

[2021-09-13 18:19] njlr commented on #78
Basics here: https://github.com/demystifyfp/FsToolkit.ErrorHandling/pull/138

[2021-09-17 08:01] bytesource opened #139 "Gitbook: Some Typos"
Hi!

First of all I want to thank you for taking the time to write such a detailed documentation for every function in `FsToolkint.Errorhandling`!

While going through the text, I stumbled upon a few words that might be typos.

I'm just a beginner, so there might be mistakes on my part, but I decided to just list them here anyway:

## AsyncResult.withError
https://demystifyfp.gitbook.io/fstoolkit-

[2021-09-17 13:18] TheAngryByrd commented on #139
Thanks! It was mostly @demystifyfp on the initial documentation.

Two things I need to do:
- Figure out how to deploy new gitbook content
- I need to get around to generating this from the codebase rather than having it be hand written

[2021-09-20 14:23] JohnTheGr8 commented on #85
I had the library pinned to v1.3.1 for a while because of this issue. Upgrading now to v1.3.2 (or latest) still gives me issues unfortunately...

Here's a quick example:

[code]

This works fine, but if I change `1.3.1` to `1.3.2` I get:

[code]

Any thoughts? Could this still be a compiler issue?

[2021-09-20 14:27] baronfel commented on #85
This isn't the same issue as what was originally linked.  `AsyncResult.retn ()` returns an `Async<Result<unit, obj>>`, and the `match` inside an `asyncResult` CE desugars to `asyncResult.Bind(ar: Async<Result<'t, 'e>>, binder: 't -> Async<Result<'s, 'e>>): Async<Result<'s, 'e>)`, meaning you can't 'just' run the Async portion inside the `asyncResult` CE, you have to run the Async and handle the in

[2021-09-20 15:02] JohnTheGr8 commented on #85
Thanks for the quick response and explanation. Does this mean this is an expected "limitation" (or "constraint", whatever you want to call it, I realize this is an uncommon use case) from switching to `Source` overloads in 1.3.2?

In any case, I only wanted to flag this up in case it was a corner case that had been overlooked... I have already refactored my code (using `foldResult` actually) to al

[2021-09-20 15:05] baronfel commented on #85
@JohnTheGr8 I'd say that's the correct way to think of it, yeah. Adding many `Bind` overloads like this library did previously may have made it feel more 'open', but it was a maintenance nightmare and also very hard to reason about what actually was happening in every possible case. With `Source`, the mental and technical overhead is greatly reduced, which should mean it's easier for users as well

[2021-09-20 15:13] JohnTheGr8 commented on #85
Thanks for taking the time to explain!

[2021-10-21 19:23] TheAngryByrd opened #142 "Native tasks"
Now that [F# 6.0 has native task {} support](https://devblogs.microsoft.com/dotnet/whats-new-in-fsharp-6/#making-f-faster-and-more-interopable-with-task) we should figure out how/when to integrate this.

- I'm assuming this would force this library to make consumers go to F# 6.0.
- Additionally, one of the reasons `TaskResult` library is separate is because it relied on upstream dependency and I a

[2021-10-21 19:28] TheAngryByrd opened #143 "Resumable Code"
With #142, the release mentioned `Resumable Code` as a way to keep allocations down.  We should look to see what, if anything, this library needs to do to benefit from it. Apparently [AsyncSeq](https://github.com/fsprojects/FSharp.Control.AsyncSeq/) is going to receive changes so it will be beneficial to watch what happens over there.

[2021-10-21 19:29] TheAngryByrd commented on #143
[AsyncSeq PR](https://github.com/fsprojects/FSharp.Control.AsyncSeq/pull/151)

[2021-10-27 13:10] njlr opened #144 "Seq.sequenceResultM?"
The function `List.sequenceResultM` takes a list of results and returns _either_ all `Ok` values _or_ the first `Error` value.

However, this requires us to compute all results, even if there is an error!

Is there a lazy version of this function?

Perhaps  `Seq.sequenceResultM`?

[2021-10-28 12:46] cmeeren opened #145 "Add Result.traverseAsync"
There is currently a `Result.sequenceAsync`. Adding a `Result.traverseAsync` would complement the API and should be fairly easy to implement.

Unfortunately have my hands full at nowadays and can't make a PR, but wanted to at least create an issue.

[2021-10-30 09:07] njlr commented on #137
https://github.com/demystifyfp/FsToolkit.ErrorHandling/pull/147

[2021-10-30 09:21] njlr commented on #96
https://github.com/demystifyfp/FsToolkit.ErrorHandling/pull/148

[2021-10-30 11:36] njlr commented on #145
What would the signature of this be?

`('t -> Async<'u>) -> Result<'t, 'e> -> Async<Result<'u, 'e>>` ?

[2021-10-30 11:44] #137 closed

[2021-10-30 11:44] #96 closed

[2021-10-30 12:16] cmeeren commented on #145
IIRC it should be the same as `Result.map >> Result.sequenceAsync` (Can probably be implemented slightly more efficiently than that composition, though whether it matters I have no idea...)

[2021-11-06 12:56] xperiandri opened #150 "F# 6 task CE support (instead of Ply)"

[2021-11-06 14:18] TheAngryByrd commented on #150
Duplicate of https://github.com/demystifyfp/FsToolkit.ErrorHandling/issues/142#issue-1032863148

[2021-11-06 14:18] #150 closed

[2021-11-07 17:42] #144 closed

[2021-11-13 18:14] TheAngryByrd commented on #145
https://github.com/demystifyfp/FsToolkit.ErrorHandling/pull/153

[2021-11-13 18:14] #145 closed

[2021-11-15 10:23] njlr commented on #99
Also stumbled on this recently and thought of a potential solution. Please excuse the names, they are just placeholders!

[code]

Not actually tested so there may be some hurdles I'm missing.

[2021-11-16 19:48] xperiandri opened #154 "Task to AsyncResult transition wraps `Exception` into the `AggregateException`"
**Describe the bug**
[code]
Matching by the `MsalClientException` does not happen as it is wrapped by the `AggregateException`.

**To Reproduce**
Steps to reproduce the behavior:
1. Call Task returning method via `return!` in an `asyncResult` CE
2. Catch exception
3. You will see that it is always the `AggregateException`.

**Expected behavior**
A clear and concise description of what you expected

[2021-11-16 20:09] TheAngryByrd commented on #154
I don't think this is a problem with FsToolkit as this is how exceptions are throw with Tasks via dotnet https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/exception-handling-task-parallel-library

[2021-11-16 23:23] xperiandri commented on #154
Is it how `async` CE works itself?

[2021-11-16 23:24] xperiandri commented on #154
It does not happen with `await` in C#

[2021-11-17 07:50] xperiandri commented on #154
Ah, this is the issue https://github.com/fsharp/fslang-suggestions/issues/840

[2021-11-17 22:06] xperiandri commented on #154
As long as it is a FSharp.Core issue I propose to use a corrected way of awaiting tasks
https://github.com/jet/FsKafka/blob/6c6186f822a221adf0ad06e8a44a392aa55aa8ec/src/FsKafka/Infrastructure.fs#L14 instead of `Async.AwaitTask`

[2021-11-23 18:58] TheAngryByrd commented on #154
Hey @NinoFloris see any downsides to doing this?

[2021-11-30 14:07] TheAngryByrd commented on #142
Worth following https://github.com/dotnet/fsharp/issues/12456

[2021-12-01 11:33] dnperfors opened #158 "Seq.sequenceResultM returns a list instead of a seq"
**Describe the bug**
When using `Seq.sequenceResultM` the result will is a `'t list`, this is not what I would have expected from a `Seq` function.

**To Reproduce**
[code]

**Expected behavior**
I expect that functions in the `Seq` modules will return a `Seq`, unless I specifically tell otherwise.

(I know a `list` is also a `seq`, but still...)

[2021-12-01 15:10] TheAngryByrd commented on #158
Agreed, I didn't realize this was the case!

[2021-12-01 15:29] #158 closed

[2021-12-02 14:20] njlr opened #161 "TaskResult.ofTask?"
Is there a function to catch a `Task` and turn it into a `TaskResult`?

Something like this:

[code]

I'm not sure how well this would work given that tasks are "hot".

[2021-12-02 14:35] TheAngryByrd commented on #161
Not a direct function but you could use

[code]

[2021-12-02 14:44] TheAngryByrd commented on #161
That being said, I'd recommend using a `taskResult` CE with a try/with as I don't want to implement every possible little conversion in function form.

1. Naming is hard and setting expectations of what a function does is even harder.  There's already and "TaskResult.ofTask` but it doesn't do a catch. Should it? It's hard to know what every expects each function to do.
2. [This README](https://git

[2021-12-03 19:20] 64J0 commented on #61
This issue should be closed since this bug is not happening anymore:

![image](https://user-images.githubusercontent.com/50725287/144660562-1247ba79-23ed-4f4c-a92c-f38551b4357e.png)

[2021-12-03 19:23] #61 closed

[2022-02-05 21:17] #161 closed

[2022-02-20 21:07] TheAngryByrd opened #167 "Use ListCollector on List operations to improve perf"
**Is your feature request related to a problem? Please describe.*

https://twitter.com/dsymetweets/status/1494424576834605064

**Describe the solution you'd like**

TODO

**Describe alternatives you've considered**

Not doing this

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-02-20 21:11] TheAngryByrd commented on #167
Additionally, figure out how to utilize InlineIfLambda in the list module as with the current implementation it's not possible.

[code]

[2022-02-25 08:56] AlexeyRaga commented on #104
I think that having warnings etc. should be somehow outside of the library concern. Like, what if I also want `Info` or `Critical` etc?.

One can always come up with their own way of tagging en error and just use it:

[code]

[2022-02-25 15:16] TheAngryByrd commented on #104
Yeah since I haven't seen a PR for this and you could always build/layer your needs on top of this library I'm going to close this.

[2022-02-25 15:16] #104 closed

[2022-03-15 12:51] TheAngryByrd commented on #143
Not all computation expressions need to implement resumable code as explained in [great detail](https://github.com/dotnet/fsharp/issues/12456#issuecomment-1058615916).

Since #142 exists and that's the only place that will need to use resumable code, I'm closing this.

[2022-03-15 12:51] #143 closed

[2022-03-27 20:43] AlbertoDePena opened #168 "List.traverseValidationA' should be private?"
Should List.traverseValidationA' be private just like the other functions that denote recursiveness (rec keyword)?

https://github.com/demystifyfp/FsToolkit.ErrorHandling/blob/a4a0d2d53f4a9a0477d661431eae19c00cc3c766/src/FsToolkit.ErrorHandling/List.fs#L79

[2022-03-29 21:16] njlr commented on #154
I have this helper in various code-bases:

[code]

[2022-03-30 10:36] #142 closed

[2022-04-04 08:24] cmeeren opened #173 "Add explicit type parameters to ignore functions"
I'd like for `ignore` functions like `AsyncResult.ignore` (and perhaps `ignoreError`?) to accept explicit type parameters, just like F#'s `ignore` function.

My reasoning is that ignoring input is a "dangerous" operation under refactoring. For example:

[code]

If you change `doSomething` so that it no longer returns `int`, then that may indicate that the code that previously ignored its result sh

[2022-04-04 08:31] njlr commented on #173
A mistake I occasionally make is mixing up `Async.Ignore` and `AsyncResult.ignore`.

[code]

[code]

These mean very different things!

[2022-04-04 08:58] cmeeren commented on #173
Indeed they do. Did you mean that was relevant for the handling of this issue?

[2022-04-04 16:47] TheAngryByrd commented on #173
Yeah I can see that being a bit aggressive

---

Mind submitting a PR for this?

[2022-04-14 17:05] isaacabraham opened #175 "Move TaskResult (and friends) to core FsToolkit.ErrorHandling package"
I think the core FsToolkit.ErrorHandling package should include the TaskResult CE etc. by default and use the FSharp.Core `task { }` block.

[2022-04-14 17:12] TheAngryByrd commented on #175
I listed some hurdles in regards to this in: https://github.com/demystifyfp/FsToolkit.ErrorHandling/issues/142#issue-1032863148

- I was able to address the F# 6.0 concern by creating separate packages for netstandard2.0 and  netstandard2.1.
- I didn't want to deal with all the Fable concerns (unless they have shims for task now)

[2022-04-14 17:18] TheAngryByrd commented on #175
If you mean by trying to recreate TaskResult in terms of `task CE`, {unfortunately that isn't possible](https://github.com/dotnet/fsharp/discussions/12792#discussioncomment-2463397). taskResult (and friends) need their own Resumable Code to work correctly.

[2022-04-15 08:36] kerams opened #176 "TaskResultCE breaks with an if"
**Describe the bug**

With 3.0.0-beta006, the following code does not compile. The problem is on `return 55` and the compiler complains the expected type is `unit`, not `int`.

[code]

If you remove the `if`, everything works.

**Expected behavior**
Compiles and the type of `taskRes` is `Task<Result<int, unit>>`.

[2022-04-15 16:43] TheAngryByrd commented on #176
Yeah this definitely is a bug.

---

For a workaround for now:

[code]

[2022-04-15 16:49] kerams commented on #176
That's no good, it needs to execute when the condition passes :).

I can do this, however:

[code]

[2022-04-15 17:12] TheAngryByrd commented on #176
I'll have a fix out here shortly.  Thank you for testing this beta 🙏

[2022-04-15 21:34] #176 closed

[2022-05-05 11:17] abelbraaksma opened #178 "List.traverseResultA and friends have x @ y on the error branch, this could potentially blow up"
**Describe the bug**
The [`List.traverseResultA` function](https://github.com/demystifyfp/FsToolkit.ErrorHandling/blob/929208c7cbd0cb25234f8539e98c4ae6dda08a28/src/FsToolkit.ErrorHandling/List.fs#L48) and similar ones have this critical path:

[code]

Namely: `Error(errs @ e)`.

If you have many errors (in my situation is was importing an Excel file and all cells in a column were bad), the perform

[2022-05-05 14:36] TheAngryByrd commented on #167
Need to consider the error paths as well: https://github.com/demystifyfp/FsToolkit.ErrorHandling/issues/178#issue-1226538645

[2022-05-05 14:37] TheAngryByrd commented on #178
Ouch, yeah that's bad. I mentioned the error path needs to be considered as well in https://github.com/demystifyfp/FsToolkit.ErrorHandling/issues/167 when doing a performance pass at it.

[2022-05-05 17:41] TheAngryByrd commented on #167
## Results

[code]

[code]

|                                Method |      Categories | entries |         Mean |      Error |       StdDev |       Median |   Gen 0 |  Gen 1 | Allocated |
|-------------------------------------- |---------------- |-------- |-------------:|-----------:|-------------:|-------------:|--------:|-------:|----------:|
|    List_traverseResultM_normal_allOks | traverseResu

[2022-05-19 07:59] bartelink commented on #154
Note the edition therein in being synced with the canonical one in https://github.com/jet/FsKafka/pull/92 (similarly https://github.com/fsprojects/FSharp.AWS.DynamoDB/pull/49)

[2022-09-27 11:25] AlexeyRaga opened #181 "Add Option.maybe"
**Is your feature request related to a problem? Please describe.**

`Result` module contains
[code]

Having its counterpart `Option.maybe` would be great:
[code]

**Describe alternatives you've considered**

An obvious alternative is to use `Option.fold` or `Option.map f >> Option.defaultWith g` but it is the same level of inconvenience that `Result.either` solves for `Result.fold`.

[2022-10-05 20:37] TheAngryByrd commented on #175
I may revisit this for 4.0 but closing for now.

[2022-10-05 20:37] #99 closed

[2022-10-05 20:42] TheAngryByrd commented on #167
Going to close this as probably better to be faster.

[2022-10-05 20:42] #167 closed

[2022-10-18 15:57] sheridanchris opened #184 "Task wrapped result + option helpers"
**Is your feature request related to a problem? Please describe.**
Helper functions to work with ``Task<Result<'success option, 'error>>``

Example:
[code]

**Describe the solution you'd like**
Helper functions that combine `bind` + `requireSome`, `requireNone`, etc...

[code]

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

I would like to create a PR for this.

[2022-10-18 20:19] TheAngryByrd commented on #178
I looked into this briefly and `errs @ e` are two lists so your recommended fix wouldn't work exactly.  So I think this would be better changed to be some type of while loop semantics to get performance.

[2022-10-18 20:21] TheAngryByrd commented on #184
Yeah it seems like the only work around is currently to do it in two binds

[code]

Seems like a good addition.

[2022-10-18 20:59] abelbraaksma commented on #178
Oh, yeah, you're right. Though, arguably, the new lists will be shorter than the tally, so a quick `rec` with `e::errs` would be nice. But that would, perhaps, invert the order of errors? Hmm, tricky.

You could maintain `State` in a `ResizeArray`, and on `return` you'd convert that to a `list`? Not ideal either.

[2022-10-18 21:16] TheAngryByrd commented on #178
I did benchmark this a bit ago: https://github.com/demystifyfp/FsToolkit.ErrorHandling/issues/167], various tradeoffs

Yeah idk why it's currently implemented with the `@` after looking at it now.

[2022-10-18 22:45] #168 closed

[2022-10-18 22:45] #178 closed

[2022-10-19 16:37] #184 closed

[2022-10-20 14:08] TheAngryByrd opened #187 "Worried about the Diamond dependency problem"
**Is your feature request related to a problem? Please describe.**

I'm worried about diamond dependencies with this project.  As it grows more popular, more things will start relying on it and start causing conflicts with consumers.

For example, seeing packages constraining the upper limit can possibly slow adoption.

<img width="372" alt="image" src="https://user-images.githubusercontent.com/14

[2022-10-20 20:19] abelbraaksma commented on #178
Change looks good, thanks!

[2022-10-23 22:29] sonicbhoc opened #188 "Documentation for Validation operators mentions Bind (>>=), but the library doesn't implement it"
**Describe the bug**
Looking through the source code through for the validation operators, the Bind operator (`>>=`) is not defined, even though the documentation references it specifically.

Instead, the following error message is displayed:

    FS0043: Expecting a type supporting the operator `>>=` but given a function type. You may be missing an argument to a function.

**To Reproduce**
Attemp

[2022-10-24 02:56] TheAngryByrd commented on #188
Yeah looks like the validation operators aren’t opening the Result ones. Will be happy to take a PR for this.

[2022-11-01 17:12] abelbraaksma commented on #187
I'm currently struggling with the following error, might that be caused by exactly what you're describing here?

[2022-11-01 17:38] TheAngryByrd commented on #187
Possibly? Might need more context. Could also be missing the DLL in the directory of where ever you are running.

[2022-11-01 21:32] abelbraaksma commented on #187
Well, I’m still investigating. It happens with `dotnet test`. Failed after updating from 2.x. It first complained about Pky not being there, which was implicit and not a problem before, so I added it manually. Then it gave the above error.

However, same solution on one system succeeds, in CI it succeeds, but not on mine, not on one other. All systems had the Ply error, but only some have the abov

[2022-11-01 21:33] abelbraaksma commented on #187
It may be a dependency that itself uses F# task, and somehow this conflicts. But still, why it’s differently behaving per system is weird.

[2022-11-03 15:03] abelbraaksma commented on #187
Meanwhile sorted it out. The problem was caused by some functions using helpers from our own Nuget package store that in turn used a 2.x FsToolkit. Upgrading that package to use the newer FsToolkit solved the issue.

My guess is that a conflict arose with these functions defaulting to Ply tasks, which ultimately caused a runtime error. Why it wasn't caught as a compile time error, I don't know.

I

[2022-11-07 07:18] ursenzler opened #191 "Should List.sequenceValidationA preserve order?"
**Describe the bug**
I expected this test to succeed, but it failed because the order of the errors was reversed.

[<Fact>]
let ``List.sequenceValidation preserves order of errors`` () =
    let result = [ Result.Error [ "a" ]; Result.Error [ "b" ] ] |> List.sequenceValidationA
    test <@ result = Result.Error [ "a"; "b" ] @>

**To Reproduce**
Run above test

**Expected behavior**
Order should be

[2022-11-07 16:41] TheAngryByrd commented on #191
Definitely feels like a missed `List.rev`.  Happy to take a contribution for fixing this!

[2022-11-08 09:47] ursenzler commented on #191
Ok, I'll work on it.

[2022-11-09 05:38] quentez opened #194 "FSharp.Core version warning (net7.0)"
**Describe the bug**
Following what I suspect to be [this change](https://github.com/demystifyfp/FsToolkit.ErrorHandling/commit/ca41c0d37212c1399d0ef46c1309ab41f4aef4e7#diff-377fe73bf860b37e7d9a8ca5be27762668b3a08aac581b435d4c31b737d905cdL5), I now get the following warning after upgrading to version `3.3.0`:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add `FsToolkit.ErrorHandlin

[2022-11-09 09:23] Dzoukr commented on #194
Yup, I think there should be `>=` instead of `=`

<img width="138" alt="image" src="https://user-images.githubusercontent.com/851307/200791435-a1088e6f-6807-4193-8eee-9308a0d5052a.png">

[2022-11-09 10:51] cmeeren commented on #194
Yes, this was `>=` before, but is now `=`. For us who have enabled warnings as errors, this precludes updating FsToolkit.ErrorHandling.

[2022-11-09 11:39] TheAngryByrd commented on #194
Ah paket has changed rules around its version. Lemme see if I can clean it up

[2022-11-09 12:04] TheAngryByrd commented on #194
Opened an issue on paket as it seems they are generating a nuspec file differently https://github.com/fsprojects/Paket/issues/4183

[2022-11-09 12:04] TheAngryByrd commented on #194
I think i'm gonna pull the version from nuget for the moment

[2022-11-09 13:40] yreynhout commented on #194
This happens for `net6.0` projects too.

[2022-11-09 15:52] abelbraaksma commented on #194
Fwiw, 3.2.0 dies not exhibit this problem, it has the versions as `>=`. And if I saw it correctly, 3.3 is beta, or did you pull the definitive version already @TheAngryByrd.

[2022-11-09 20:55] cmeeren commented on #194
Do you mean that it won't be fixed before upstream fixes it? Since the NuGet package is now locked to a fairly old F# version, it may prevent many people from updating until it's fixed.

[2022-11-09 21:09] TheAngryByrd commented on #194
Yes, I'm not gonna get into the habit of hand editing nuget packages everytime I need to do deploy and this helps the ecosystem.

[2022-11-10 19:41] #191 closed

[2022-11-14 15:26] cmeeren opened #195 "Make Result.defaultWith accept error, or remove it"
In F# 7, there is a built-in `Result.defaultWith` where the thunk accepts the error instead of `unit` (as in FsToolkit.ErrorHandling). This is a more useful signature.

When I `open FsToolkit.ErrorHandling`, I get the less useful one that only accepts `unit` (unless I `open FSharp.Core` below, which I'd rather not since I prefer avoiding situations where the order of opens are critical.)

A simple

[2022-11-14 15:34] TheAngryByrd commented on #195
Agreed, I even suggested this change to FSharp.Core and forgot the make the change in this repo.

I think I'd still prefer a version here for two reasons.

1. This repo is still available for F# 4.x
2. `InlineIfLambda`

Yeah I'm sure this affects  AsyncResult, TaskResult, and JobResult as well.

[2022-11-14 15:54] cmeeren commented on #195
For clarification, I was referring to other `Result` module functions that may have been added to FSharp.Core.

[2022-11-18 18:02] TheAngryByrd commented on #194
Just published https://www.nuget.org/packages/FsToolkit.ErrorHandling/3.3.1-beta002#dependencies-body-tab

can you give it a try?

[2022-11-19 00:51] quentez commented on #194
Looking good on my end!

[2022-11-19 12:56] cmeeren commented on #194
Looks good on NuGet!

<img width="560" alt="image" src="https://user-images.githubusercontent.com/7766733/202851958-900a26dd-5861-49a4-9b09-4e8788c35964.png">

[2022-11-19 13:45] #194 closed

[2022-11-19 21:20] #195 closed

[2022-11-25 18:48] abelbraaksma commented on #194
Question: do we really need to force upgrade to F# Core 7.0? On NetStandard 2.1, the lowest denominator should probably be used, which is 6.0.2, or 6.0.5.

/cc @TheAngryByrd